body {
  font-family: Arial, Helvetica, sans-serif;
  background: #28282b;
  color: white;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

i {
  color: white;
  background: #28282b;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

button i:active {
  box-shadow: none;
  transform: translateY(1px);
}

#play-button {
  display: inline;
  position: absolute;
  top: 70%;
  left: 39%;
}
#pause-button {
  display: inline;
  position: absolute;
  top: 70%;
  left: 45%;
}

#stop-button {
  display: inline;
  position: absolute;
  top: 70%;
  left: 54%;
}

#refresh-button {
  display: inline;
  position: absolute;
  top: 70%;
  left: 60%;
}

.timer-text {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.title-text {
  position: relative;
  top: 7em;
  font-size: 2.3rem;
}

.countdown-text {
  position: relative;
  top: 1.8em;
  font-size: 7em;
}
.container {
  display: flex;
  justify-content: center;
}

.circle {
  position: absolute;
  top: 10em;
}

svg {
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 1380;
  stroke-dashoffset: 1380;
  stroke-linecap: round;
  stroke-width: 15px;
  fill: none;
  animation: countdown 1500s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1380;
  }
}
