body {
  font-family: Arial, Helvetica, sans-serif;
  background: #28282b;
  color: white;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

i {
  color: white;
  background: #28282b;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

button i:active {
  box-shadow: none;
  transform: translateY(1px);
}

#play-button {
  display: inline;
  position: absolute;
  top: 70%;
  left: 39%;
}
#pause-button {
  display: inline;
  position: absolute;
  top: 70%;
  left: 45%;
}

#stop-button {
  display: inline;
  position: absolute;
  top: 70%;
  left: 54%;
}

#refresh-button {
  display: inline;
  position: absolute;
  top: 70%;
  left: 60%;
}

.timer-text {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.title-text {
  position: relative;
  top: 7em;
  font-size: 2.3rem;
}

.countdown-text {
  position: relative;
  top: 1.4em;
  font-size: 7em;
}
.container {
  display: flex;
  justify-content: center;
}

.circle {
  position: absolute;
  top: 10em;
}

svg {
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 1380;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 15px;
  fill: none;
  /*animation: countdown 1500s linear infinite;*/
}

@keyframes countdown {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes countdown {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1380;
  }
}

form {
  max-width: 200px;
  display: inline-block;
}

form input {
  display: inline-block;
  width: 200px;
  border-radius: 1px;
  height: 34px;
  border: 1px solid #dfe1e5;
  padding: 5px 8px 0 16px;
  flex: 1;
  display: flex;
}

input:focus {
  outline: none;
}

input:hover {
  border: 2px solid #6c6c74;
}

input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  text-align: left;
}

#mainMinutes {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 12%;
}

#breakMinutes {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 12%;
  right: 0;
}

@media only screen and (max-width: 600px) {
  #session-form {
    position: absolute;
    left: 30%;
    top: 3%;
  }

  #break-form {
    position: absolute;
    left: 30%;
    top: 10%;
  }

  #play-button {
    position: absolute;
    left: 15%;
    padding-top: 15px;
  }

  #pause-button {
    position: absolute;
    left: 35%;
    padding-top: 15px;
  }
  #stop-button {
    position: absolute;
    left: 55%;
    padding-top: 15px;
  }
  #refresh-button {
    position: absolute;
    left: 75%;
    padding-top: 15px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 960px) {
  #session-form {
    position: absolute;
    left: 38%;
    top: 3%;
  }

  #break-form {
    position: absolute;
    left: 38%;
    top: 10%;
  }

  #play-button {
    position: absolute;
    left: 25%;
    padding-top: 15px;
  }

  #pause-button {
    position: absolute;
    left: 40%;
    padding-top: 15px;
  }
  #stop-button {
    position: absolute;
    left: 55%;
    padding-top: 15px;
  }
  #refresh-button {
    position: absolute;
    left: 70%;
    padding-top: 15px;
  }
}
